Source: simplelogin
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
XSBC-Original-Maintainer: Boudewijn Rempt <boud@kde.org>
Build-Depends: cmake (>= 2.6.3),
               debhelper (>= 11),
               dpkg-dev,
               dh-systemd [linux-any],
               libpam0g-dev,
               systemd,
               libsystemd-dev,
               pkg-config,
               pkg-kde-tools (>= 0.9),
               qtbase5-dev,
               qtbase5-private-dev
Standards-Version: 4.1.3

Package: simplelogin
Architecture: any
Depends: libpam-runtime, ${misc:Depends}, ${shlibs:Depends}
Homepage: https://github.com/bhush9/simplelogin
Description: Simple Login
 A trivial login manager without UI useful on embedded devices.
